body {
  text-align: center;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'lato', sans-serif;
}

a {
  width: 150px;
  background-color: #444;
  border: none;
  outline: none;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 3em;
  text-decoration: none;
  position: fixed;
  left: 20px;
  top: 20px;
  padding: 10px;
}

a:hover {
  background-color: #457b9d;
  color: black;
}